.installment__content {
    margin-top: 65px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 100%;
}


@media screen and (max-width: 767px) {
    .installment__content {
        grid-template-columns: 1fr;
        justify-content: center;
    }
}