.works-list {
    margin: 0;
    padding: 60px 0 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 240px);
    justify-content: space-around;
    align-items: start;
    gap: 10px;
}

@media screen and (max-width: 1000px) {
    .works-list {
        grid-template-columns: repeat(2, 240px);
        justify-content: center;
        gap: 40px;
    }
}

@media screen and (max-width: 767px) {
    .works-list {
        grid-template-columns: 240px;
    }
}