.installment-list__item {
    display: flex;

}
.installment-list__item:not(:first-child) {
    margin-top: 24px;
}

.installment-list__item::before {
    width: 11.45px;
    height: 11.45px;
    background: #FFDD2D;
    content: '';
    display: block;
    border-radius: 50%;
    margin-top: .65em;
    margin-right: 24px;
    flex-shrink: 0;
}

@media screen and (max-width: 767px) {
    .installment-list__item {
        line-height: 40px;
    }
    .installment-list__item::before {
        margin-top: .85em;
    margin-right: 21px;

    }
    .installment-list__item:not(:first-child) {
        margin-top: 0;
    }
}