.credit-one-column.credit-text {
    width: 100%;
    margin-top: 37px;
}

@media screen and (max-width: 767px) {
    .credit-one-column.credit-text {
        grid-template-columns: 1fr;
        justify-content: center;
    }
}